{% load i18n sekizai_tags %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}cms_plugins/js/jquery.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}cms_plugins/js/jquery.colorbox-min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}cms_plugins/js/bootstrap-carousel.js"></script>{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" href="{{STATIC_URL}}cms_plugins/css/colorbox.css">{% endaddtoblock %}
{% addtoblock "css" %}
<style>
.small {
    padding: 10px 5px 10px 5px;
}
</style>
{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript">
//Get the album url here, parse and get the unique-id of Facebook Album
var album_url = '{{ object.album_url }}',
    uid = album_url.split('?')[1].split('.')[1],
    access_token = '{{ object.access_token }}',
    img_stack;

$(document).ready(function () {
// Ajax Request to Facebook Graph API
var req_url = 'https://graph.facebook.com/'+uid+'/photos'+'?access_token='+access_token;

$.ajax({
    type: "GET",
    url: req_url,
    success: function(res) {
	generateImg(res);
    },
    error: function() {
      $('.plugin_fbalbum').append('<h2> No valid image response.</h2>');
    }
});

//Add image in the placeholder
var generateImg = function (data) {
    var len = data.data.length,
	image_stack = '',
	small_image_url,
	big_image_url,
    state = 'active';
    for(i = 0 ; i < len; i++) {
	   if (data.data[i].images[8]) {
	    small_image_url = data.data[i].images[8].source;
	   }
	   if (data.data[i].images[1]) {
	        big_image_url = data.data[i].images[1].source;
	   }
       console.log(image_stack);
	   image_stack += '<img class="album-picture ' + state + ' item" src="'+big_image_url+'">';
       state = '';
       $('.small').attr('src', small_image_url);
    }
    $('.carousel-inner').append(image_stack);
    $('.carousel').carousel();

};
});
</script>
{% endaddtoblock %}
<ul class="albums">
  <li class="album-toggle" data-toggle="modal" data-target="#modal-{{object.album_name}}">
    <div>{{ object.album_name }}</div>
    <img class='small' >
  </li>
</ul>


<div class="modal" id="modal-{{object.album_name}}" style="display: none;">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">X</button>
      thumbnail description
  </div>

<div class="modal-body">
  <div id="carousel-{{object.album_name}}" class="carousel">
  <div class="carousel-inner">
  </div>
  <a class="carousel-control left" href="#carousel-{{object.album_name}}" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#carousel-{{object.album_name}}" data-slide="next">&rsaquo;</a>
  </div>
  </div>
</div>
